<div ng-controller="LaranerdsHome" class="container">
    <br/>
    <nav class="navbar navbar-dark bg-dark">
        <h1 style="color: white; align-content: stretch">Atom Bank</h1>
    </nav>
    <br/>
    <h1 class="badge badge-primary">Fixed Saver Accounts</h1>
    <div class="row" data-ng-repeat="item in shelfs">
        <div class="row" data-ng-repeat="ac in item.books">
            <div class="card border-success col">
                <div class="card-header">{{ ac.duration }}</div>
                <div class="card-body text-success">
                    <h5 class="card-title">{{ ac.interestType }}</h5>
                    <p class="card-text">{{ ac.gross }}</p>
                    <p class="card-text">{{ ac.aer }}</p>
                    <p class="card-text">{{ ac.earnedAmount }}</p>
                </div>
            </div>
        </div>
    </div>
</div>